@keyframes gridMove {
    from { transform: translate(0, 0); }
    to   { transform: translate(50px, 50px); }
}

@keyframes wiggle {
    0% { transform: skewX(24deg); } 
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(33deg); }
    30% { transform: skewX(-70deg); }
    40% { transform: skewX(29deg); }
    50% { transform: skewX(-70deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(10deg); }
    100% { transform: skewX(0deg); }
}

@keyframes miniWiggle {
    0% { transform: skewX(14deg); } 
    10% { transform: skewX(-4deg); }
    20% { transform: skewX(15deg); }
    30% { transform: skewX(-25deg); }
    40% { transform: skewX(13deg); }
    50% { transform: skewX(-25deg); }
    60% { transform: skewX(1deg); }
    70% { transform: skewX(-1deg); }
    80% { transform: skewX(0deg); }
    90% { transform: skewX(5deg); }
    100% { transform: skewX(0deg); }
}

@keyframes glitch {
    0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
}

    10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
    }

    20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
    }

    30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
    }

    40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
    }

    50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
    }

    60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
    }

    70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
    }

    80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
    }

    90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
    }

    100% {
    clip-path: var(--slice-1);
    transform: translate(0);
    }
}

