.card {
    position: relative;
    width: 84%;
    height: 90%;
    background-color: #162626;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0 8%;
}


.card:hover {
    
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
    background-color: #162626;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}

.card:hover img {
    scale: 0;
}

.card__description {
    margin: 10px 0 50px 0;
    font-size: 1rem;
    color: #cacaca;
    line-height: 1.4;
}

.card__content .glow-btn{
    float: right;
    margin-left: auto;
}
