.form-section input,
.form-section textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #b4b4b4;
    padding: 10px 0;
    margin-bottom: 25px;
    color: white;
    outline: none;
    font-size: 18px;
}

.form-section input::placeholder,
.form-section textarea::placeholder {
    color: #e9f1d7;

}

.title {
    font-size: 48px;
    line-height: 1;
    color: white;
    text-shadow: 
        -2px 0 #ff0000,
        2px 0 #00aaff,
        0 1PX #eeff00;
    justify-content: end;
    width: 100%;
}

.title span {
    display: flex;
    margin-top: 10px;
    justify-content: end;
    width: 90%;
    
}