


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", monospace;
    background: #000;
    overflow: hidden;
    height: 100vh;
    position: relative;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 0, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: gridMove 20s linear infinite;

}