.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}


.bento-grid {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: 1.5rem;
    padding: 4rem;

    background: #321229;
    background: linear-gradient(0deg, #321229 0%, #162626 50%);
}


.item {
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    font-weight: 600;
    background-color: #ffffff07;
    border: 2px solid #fff1;
    border-radius: 1em;
    backdrop-filter: blur(20px);


    &:hover {
    transform: scale(1.02); 
    border-color: #fff5;
    }
}

.salmon {
    grid-column: span 2;
    grid-row: span 2;
}

.broccoli {
    grid-column: span 1;
    grid-row: span 2;
}

.tamago {
    grid-column: span 1;
    grid-row: span 4;
}

.pork {
    grid-column: span 2;
    grid-row: span 3;
}

.edamame {
    grid-column: span 3;
    grid-row: span 4;
}


.tomato {
    grid-column: span 2;
    grid-row: span 3;
}

.tofu {
    grid-column: span 1;
    grid-row: span 2;
}
